.modal {
    position: fixed /* So the modal doesn't move when the user scrolls up/down */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width:500px;
    max-width: 80%;
}

.modal-header {
    padding: 5px, 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}



body {
    text-align: center;
}

li {
    list-style: none;
    color: green;
}

button {
    background-color: yellow;
}

.btn {
    background-color: green;
}