/*Google fonts URL */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser (used from PP1 - CI)*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    margin: 25px;
    background: linear-gradient(to right, lightblue, white);
}

/* Styled text elements */
h1 {
    font-family: "Rubik", sans-serif;
}

h2 {
    font-family: "Rubik", sans-serif;
}

p {
    font-family: "Rubik", sans-serif;
}

/* Style for main elements of the page */
.container {
    text-align: center;
}

.title-box {
    margin: 25px;
    padding: 25px;
}

#goals {
    padding: 25px;
}

#user-input {
    padding: 5px;
    border-radius: 25px;
    
}

#goal-input {
    padding: 25px;
    list-style: none;
    font-family: "Rubik", sans-serif;
}

#goal-button {
    padding: 3px;
    border: 0;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.user-goals {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 25px;
    border: solid black;
    background-color: lightgrey;
    width:100%;
    margin-bottom: 10px;
    
}

.complete {
    padding: 3px;
    border: 0;
    background-color: lightgrey;
    font-size: 1.5rem;
    cursor: pointer;

}

/*Styling for the tally and description section of the webapp */
#completed-tally {
    padding: 5px;
    font-size: 1.5rem;
}

#outstanding-tally {
    padding: 5px; 
    font-size: 1.5rem;
}

#completed {
    color: green;
}

#outstanding {
    color: red;
}

#description {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Styling of footer / div in footer and the a element */
footer {
    width: 100%;
    background-color:white;
    color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: space-evenly; 
}

#author a {
    color: inherit;
    text-decoration: none;
    font-size: 1.5rem;
}

/* The code for styling the modal was taken from 'https://www.youtube.com/watch?v=MBaw_6cPmAw' */

.modal {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: red;
    width:500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .modal-close {
    cursor: pointer;
    border: none;
    background-color: red;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
    text-align: center;
}

#overlay {
   position: fixed;
   opacity: 0;
   transition: 200ms ease-in-out;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, .5);
   pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;

}

/* Media query: small mobile phones (320x480px and up) */
@media screen and (min-width: 320px) {
    /* Style for main elements of the page */
.container {
    text-align: center;
}

.title-box {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#goals {
    padding: 25px;
}

#user-input {
    padding: 0px;
    border-radius: 0px;
    width: 75%;
}

#goal-input {
    padding: 25px;
    list-style: none;
}

#goal-button {
    padding: 3px;
    border: 0;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.user-goals {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 0px;
    border: solid black;
    background-color: lightgrey;
    width:200%;
    margin-bottom: 10px;
    
}

.complete {
    padding: 3px;
    border: 0;
    background-color: lightgrey;
    font-size: 1.5rem;
    cursor: pointer;

}

.modal-header .title {
    font-size: 0.7rem;
    font-weight: bold;
}

/*Styling for the tally and description section of the webapp */
#completed-tally {
    padding: 5px;
    font-size: 1.3rem;
}

#outstanding-tally {
    padding: 5px; 
    font-size: 1.3rem;
}

#completed {
    color: green;
}

#outstanding {
    color: red;
}

/* Styling of footer / div in footer and the a element */
footer {
    width: 100%;
    background-color:white;
    color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    justify-content: space-evenly; 
}

#author a {
    color: inherit;
    text-decoration: none;
    font-size: 1.5rem;
}
    
}

/* Media query: medium mobile phones (375px and up) */
@media screen and (min-width: 375px) {
    .user-goals {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        border-radius: 0px;
        border: solid black;
        background-color: lightgrey;
        width:100%;
        margin-bottom: 10px;    
    }
    #user-input {
        padding: 0px;
        border-radius: 0px;
        width: 50%;
    }
}   
 /* Media query: large mobile phones (425px and up) */
 @media screen and (min-width: 425px) {
    #user-input {
        padding: 0px;
        border-radius: 0px;
        width: 50%;
    }
 
 }
 
 /* Media query: tablet devices (768px and up) */
 @media screen and (min-width: 768px) {
    #user-input {
        padding: 2px;
        border-radius: 0px;
        width: 25%;
    }
    
    .title-box {
        margin: 25px;
        padding: 25px;
        font-size: 1.5rem;
    }
    
    #completed-tally {
        padding: 5px;
        font-size: 1.5rem;
    }
    
    #outstanding-tally {
        padding: 5px; 
        font-size: 1.5rem;
    }
    
    #description {
        font-size: 1.5rem;
        padding-top: 50px;
        padding-bottom: 50px;
    }
 }
 
 /* Media query: laptop devices (1024px and up) */
 @media screen and (min-width: 1024px) {
    #user-input {
        padding: 5px;
        border-radius: 0px;
        width: 25%;
    }
 
    .title-box {
        margin: 25px;
        padding: 25px;
        font-size: 2rem;
    }
    
    #completed-tally {
        padding: 5px;
        font-size: 2rem;
    }
    
    #outstanding-tally {
        padding: 5px; 
        font-size: 2rem;
    }
    
    #description {
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 2rem;
    }
 }
 
 /* Media query: large laptop devices (1440px and up) */
 @media screen and (min-width: 1024px) {
    #user-input {
        padding: 10px;
        border-radius: 0px;
        width: 25%;
    }
    .title-box {
        margin: 25px;
        padding: 25px;
        font-size: 3rem;
    }
    
    #completed-tally {
        padding: 5px;
        font-size: 2rem;
    }
    
    #outstanding-tally {
        padding: 5px; 
        font-size: 2rem;
    }
    
    #description {
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 2rem;
    }
 }